[user]
	name  = Mao Lijie
	email = maolijie@gmail.com
[color]
	status = auto
	diff   = auto
	branch = auto
	ui     = auto
	interactive = auto
[alias]
	a   = add
	au  = add -u
	br  = branch
	cmt = commit
	co  = checkout
	d   = diff
	dc  = diff --cached
	dcw = diff --cached -w
	dw  = diff -w
	ft  = fetch
	rb  = rebase
	rmt = remote
	sh  = stash
	st  = status
[core]
	excludesfile = ~/.gitignore
	whitespace = cr-at-eol
#   editor = emacs
[commit]
#   template = ~/.gitcommitmsg.txt
	pager = less
