[user]
	name = Mao Lijie
	email = unixlikeos@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	st = status
	cmt = commit
	rmt = remote
	co = checkout
	br = branch
[core]
	excludesfile = ~/.gitignore
	whitespace = cr-at-eol
#	editor = emacs
[commit]
#	template = ~/.gitcommitmsg.txt
